.container {
    margin-left: 32px;

}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border-radius: 5px;
}
.close {
    background-color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.list_item {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    /* display: flex;
    flex-direction: column;
    text-align: end; */
    width: 300px;
}
.list_item:hover {
    color: red;
}
.container h2 {
    margin-left: 50px;
}