.container {
    margin: 50px;
}
.container input{
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
}
.container button {
   
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
}