.container {
    width: 300px;
    border-bottom: 1px dashed black;
   
}
.container p {
    font-size: 24px;
    color: black;
}
.container span {
    font-size: 18px;
    font-weight: normal;
    color: red;
}